#layout
#sidebar
.sidebar-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .sidebar-link:hover,
    .sidebar:focus {
        background: #000;
    }

    .sidebar-link span {
        position: relative;
        display: block;
    }

    .sidebar-link span,
    .sidebar-link span:before,
    .sidebar-link span:after {
        background-color: #fff;
        pointer-events: none;
        width: 100%;
        height: 0.2em;
    }

        .sidebar-link span:before,
        .sidebar span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .sidebar-link span:after {
            margin-top: 0.6em;
        }
