#layout {
    display: flex;
    position: relative;
    left: 0;
}


.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #191818; /* Dark elegant background */
    color: #fff;
    overflow-y: auto;
}


.pure-menu-heading {
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #333;
}


.pure-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pure-menu-link {
    display: block;
    padding: 15px 20px;
    color: #999;
    text-decoration: none;
    transition: 0.3s;
}


.pure-menu-link:hover {
    background: #333;
    color: #fff;
}


.menu-link {
    position: fixed;
    display: block; /* Usually hidden on desktop, shown on mobile */
    top: 0;
    left: 0; /* Adjust based on whether sidebar is open */
    background: rgba(0,0,0,0.7);
    padding: 15px;
    z-index: 1100;
}
